<div class="md:w-80 px-8 py-4 bg-white border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] grid place-content-center {{ .Get "_width_class" }} {{ .Get "class" }} ">
	<div>
		<h1 class="text-2xl mb-4">{{ .Get "message" }}</h1>
		<div class="flex space-x-2 mx-auto w-32">
			{{ with .Get "cancel_button_text" }}
			<button class="text-base">{{ . }}</button>
			{{ end }}

			{{ if .Get "action_button_text" }}
			<NeoBrutalButton rounded="full">
			{{ .Get "action_button_text" }}
			</NeoBrutalButton>
			{{ end }}
		</div>
	</div>
</div>
